[package]
name = "tobaru"
version = "0.9.1"
edition = "2021"
license = "MIT"
description = "Port forwarding CLI utility written in Rust with allowlists, TLS SNI and ALPN routing, HTTP forwarding, load balancing, IP-to-destination mapping, and iptables support."
homepage = "https://github.com/cfal/tobaru/"
repository = "https://github.com/cfal/tobaru/"
readme = "README.md"
keywords = ["tunnel", "proxy", "tcp", "forward", "port", "http"]
categories = ["command-line-utilities", "network-programming"]

[dependencies]
async-trait = "*"
env_logger = "*"
futures = "*"
ipnet = "*"
log = "*"
parking_lot = "*"
percent-encoding = "*"
rustls = { version = "*", features = ["dangerous_configuration"] }
rustls-pemfile = { version = "*" }
serde = { version = "*", features = ["derive", "std"] }
serde_json = "*"
serde_yaml = "*"
tokio = { version = "*", features = ["fs", "io-util", "macros", "net", "process", "rt-multi-thread", "sync", "time"] }
tokio-rustls = { version = "*", features = ["dangerous_configuration"] }
ip_network_table-deps-treebitmap = "*"
url = "*"
webpki-roots = { version = "*" }
notify = ">=6.1.1"
radix_trie = { version = "*", features = ["serde"] }
rand = "*"
memchr = "2.7.4"
mime_guess = "2.0.5"

[profile.release]
opt-level = 3
lto = "fat"
strip = true
